Repository aelabassi/ArtCultHub, changes with the owners that docs/CODEOWNERS names for each.
All owners: @aelabassi, @Lelaabk, @blackpearlRZ, @nancie6695

init deploy backend to heruko
  backend/Procfile
Owners: @aelabassi, @nancie6695

init deploy backend to heruko
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-compose.yml
Owners: @aelabassi, @nancie6695

Add build
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/Routers.jsx
  frontend/src/setupTests.js
  frontend/webpack.config.js
Owners: @Lelaabk, @blackpearlRZ, @aelabassi, @nancie6695

init deploy backend to heruko
  backend/docker-compose.yml
Owners: @aelabassi, @nancie6695

prepare for docker
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-compose.yml
Owners: @aelabassi, @nancie6695

update package
  frontend/package-lock.json
Owners: @Lelaabk, @blackpearlRZ

Updating Build folder
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/css/2.582e4f01.chunk.css
  frontend/build/static/css/2.582e4f01.chunk.css.map
  frontend/build/static/css/2.780f4bf7.chunk.css
  frontend/build/static/css/2.780f4bf7.chunk.css.map
  frontend/build/static/css/main.6e780fcc.chunk.css
  frontend/build/static/css/main.6e780fcc.chunk.css.map
  frontend/build/static/css/main.7149c8f4.chunk.css
  frontend/build/static/css/main.7149c8f4.chunk.css.map
  frontend/build/static/js/runtime-main.8d48aed6.js
  frontend/build/static/js/runtime-main.8d48aed6.js.map
  frontend/build/static/js/runtime-main.a6894b54.js
  frontend/build/static/js/runtime-main.a6894b54.js.map
  frontend/package.json
Owners: @Lelaabk, @blackpearlRZ, @aelabassi, @nancie6695

prepare for docker
  .dockerignore
  Dockerfile
  docker-compose.yml
Owners: @aelabassi

clean up
  backend/.gitignore
  backend/Dockerfile
  backend/docker-compose.yml
  backend/package.json
Owners: @aelabassi, @nancie6695

clean up
  backend/.dockerignore
Owners: @aelabassi, @nancie6695

clean up
  .dockerignore
  Dockerfile
  docker-compose.yml
Owners: @aelabassi

fix dockerfile
  backend/Dockerfile
Owners: @aelabassi, @nancie6695

deploy to heroku
  .herokuignore
Owners: @aelabassi

fixed conflicts
  backend/package-lock.json
Owners: @aelabassi, @nancie6695

fixed conflicts
  backend/package-lock.json
Owners: @aelabassi, @nancie6695

added production code
  backend/src/config/prod.ts
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package-lock.json
  backend/package.json
  backend/src/config/prod.ts
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
  backend/src/config/prod.ts
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

changed start script
  backend/package.json
Owners: @aelabassi, @nancie6695

added host
  backend/src/@types/index.d.ts
  backend/src/config/index.ts
  backend/src/config/prod.ts
  backend/src/config/testing.ts
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

bind port
  backend/src/config/prod.ts
Owners: @aelabassi, @nancie6695

deploy to heroku
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

deploy to heroku
  backend/src/routes/bidRoutes.ts
  backend/src/routes/productRoute.ts
  backend/src/routes/statisticsRoutes.ts
  backend/src/routes/user.ts
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

deploy to heroku
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

store images in cloudinary
  .github/workflows/bump.yml
  backend/package-lock.json
  backend/package.json
  backend/src/config/cloudinary.ts
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

added image uploader
  backend/src/config/cloudinary.ts
  backend/src/middlewares/imageUplaoder.ts
  backend/src/routes/bidRoutes.ts
  backend/src/routes/imageUpload.ts
  backend/src/routes/productRoute.ts
  backend/src/routes/statisticsRoutes.ts
  backend/src/routes/user.ts
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

uplado images to cloudinary
  backend/src/config/cloudinaryConfig.ts
  backend/src/middlewares/imageUplaoder.ts
  backend/src/routes/imageUpload.ts
  backend/src/server.ts
Owners: @aelabassi, @nancie6695

uplado images to cloudinary
  test.html
Owners: @aelabassi

deploy API docs to bump.sh
  .github/workflows/bump.yml
  docs/api-documentation.yml
Owners: @aelabassi

deploy API docs to bump.sh
  .github/workflows/bump.yml
Owners: @aelabassi

deploy API docs to bump.sh
  .github/workflows/bump.yml
  doc/CODEOWNERS
  doc/api-documentation.yml
Owners: @aelabassi

deploy API docs to bump.sh
  .github/workflows/bump.yml
Owners: @aelabassi

docs/CODEOWNERS:

# Default owner for everything
*                       @aelabassi
# React
/frontend/              @Lelaabk @blackpearlRZ
/frontend/**/**.jsx     @Lelaabk @blackpearlRZ
/frontend/**/**.tsx     @Lelaabk @blackpearlRZ
*.tsx                   @Lelaabk @blackpearlRZ
*.jsx                   @Lelaabk @blackpearlRZ
# Common
*.js                    @Lelaabk @blackpearlRZ @aelabassi @nancie6695
*.ts                    @aelabassi @nancie6695

# Backend
/backend/               @aelabassi @nancie6695
/backend/**/**.ts       @aelabassi @nancie6695
/backend/**/**.js       @aelabassi @nancie6695
*.ts                    @aelabassi @nancie6695
